<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A disciplina</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> A disciplina: Metodologias Bioanalíticas </h1>
    <p style = "text-align: justify; font-family:Times New Roman, Times, serif">
        &nbsp;&nbsp;&nbsp;&nbsp;Estuda as bases teóricas dos métodos bioanalíticos utilizados no âmbito laboratorial,
        correlacionando as diferentes técnicas com sua aplicação direta nos sistemas de diagnóstico e
        investigação clínica.
        <p style = "text-align: justify; font-family:Times New Roman, Times, serif">&nbsp;&nbsp;&nbsp;&nbsp;O Objetivo é proporcionar ao aluno uma visão integrada dos princípios básicos das metodologias tradicionais e
        avançadas mais utilizadas em laboratórios da área bioanalítica (análises clínicas, pesquisa clínica,
        toxicologia, bancos de sangue), bem como do funcionamento dos equipamentos laboratoriais;
        Identificar e empregar os métodos utilizados na rotina do laboratório clínico; </p>
        <p style = "text-align: justify; font-family:Times New Roman, Times, serif">&nbsp;&nbsp;&nbsp;&nbsp;Compreender o princípio físico-químico dos métodos instrumentais estudados;
        Escolher os métodos experimentais adequados para a solução de problemas na área biomédica. </p>
        <p style = "text-align: justify; font-family:Times New Roman, Times, serif"> &nbsp;&nbsp;&nbsp;&nbsp; Elaborar estratégias experimentais para a investigação de estados fisiopatológicos utilizando os
        conhecimentos apresentados;
        Atualizar-se em relação à bibliografia específica da área como material de apoio para atividade
        profissional.
        </p>
    {% endblock %}
  </body>
</html>