<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>O programa</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1> O programa de iniciação à docência: PID </h1>
    <p style = "text-align: justify; font-family:Times New Roman, Times, serif" >
      &nbsp;&nbsp;&nbsp;&nbsp;O Programa de Bolsas de Iniciação à Docência da Universidade Federal de Ciências da Saúde de Porto Alegre (UFCSPA) tem como objetivos proporcionar a realização de atividades ligadas a projetos que estimulem o desenvolvimento de metodologias inovadoras que contribuam com a melhoria do ensino na graduação através do estabelecimento de novas práticas e experiências pedagógicas. </p>
    {% endblock %}
  </body>
</html>